<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
<body>
<div class="container container-narrow">
{% include 'include/header.html' %}
{% include 'include/nav.html' %}

<div class="container">
    <div class="topbar">
	<ul class="breadcrumb">
     <li>
     <a href="#">首页</a> <span class="divider">/</span>
     </li>
     <li>
     <a href="#">联系我们</a> <span class="divider">/</span>
     </li>
    </ul>
    </div>
	
	<div class="span3 contactus-box">
	  <img src="img/11.jpg">
	</div>
	<div class="span6 contactus-box">
        <div class="contactus-text-box">
        <p>联系人：林先生</p><br>
		<p>电话号码：888-8888</p><br>
		<p>传真：0754-8578-0012</p><br>
        <p>邮箱：234lt@163.com</p><br>
        <p>地址：广东省汕头市澄海区店市</p>
        </div>
    </div>
	<div class="span3 contactus-box">
	</div>

   

</div>
{% include 'include/footer.html' %}
</div>
</body>
</html>